*{
    margin : 0%;
    padding: 0%;
   // background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.service{
    display: flex;
    justify-content:space-evenly;

}
.firstbox{
    height : 200pxpx;
    width : 250px;
    background-color: rgb(145, 181, 185);
    border-radius: 10px;
}
.secondbox{
    height : 200pxpx;
    width : 250px;
    background-color: rgb(145, 181, 185);;
    border-radius: 10px;


}


    
.thirdbox{
    height : 200px;
    width : 250px;
    background-color:rgb(145, 181, 185);;
    border-radius: 10px;
}
.fourthbox{
    height : 200px;
    width : 250px;
    background-color:rgb(145, 181, 185);;
    border-radius: 10px;
}
.icons{
    height: 200px;
    width: 250px;
    object-fit:fill;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.moreinfo{
    font-size: 25px;
    font-weight: 200px;
}
/*.background-image{
    background-image: url('./bgimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}*/
/*body{
    background-image: url(./bgimg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

